includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - phpstan-baseline.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - "*/vendor/[^irontec]/*"
        - "*/src/Demo/Stub/*"
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Unable to resolve the template type T in call to method.*#'
        - '#.* expects class-string<.*>, string given#'